@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Didot';
    font-family: 'Aileron';
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  font-family: 'Open Sans', sans-serif !important;
}

@font-face {
  font-family: 'Didot';
  src: url('../public/fonts/Didot-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../public/fonts/Aileron-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../public/fonts/Aileron-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@media all  and (min-width: 600px) {
  .MuiContainer-root {
    padding: 0 !important;
  }
}

/* Drawer */
.sidebarMenu {
  position: absolute;
  padding: 100px 10vw 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.sidebarcol ul,
.sidebarcol2 ul,
.sidebarcol3 ul {
  padding: 0px;
}

.sidebarcol ul li,
.sidebarcol2 ul li,
.sidebarcol3 ul li {
  list-style: none;
  line-height: 46px;
}

.sidebarcol ul li a,
.sidebarcol2 ul li a,
.sidebarcol3 ul li a {
  font-size: 24px;
  font-weight: 300;
  line-height: 46px;
  text-decoration: none;
  color: rgb(154, 154, 154);
  transition-duration: 0.4s;
}

.sidebarcol ul li:hover a,
.sidebarcol2 ul li:hover a,
.sidebarcol3 ul li:hover a {
  color: #719ab4;
}

.sidebarcol2 h3,
.sidebarcol3 h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebarcol2 h3 a,
.sidebarcol3 h3 a {
    text-decoration: none;
    color: #719ab4;
}

.menu-logo {
  position: absolute;
  bottom: 50px;
  left: 10vw;
}

.sideBar-header {
  position: absolute;
  top: 40px;
  z-index: 999;
  right: 60px;
  color: #fff;
}


@media all and (max-width: 767px) {
  .myWork {
    flex-direction: column !important;
  }
  .myWork .MuiGrid-root {
    border-right: unset;
  }
}